<!DOCTYPE html>
<html>
	<head>
		<title>home</title>
	</head>
	<body>
		<a href="lambo"><img src="LAMBO.jpg"></a>
		<a href="rarri"><img src="f.JPG"></a>
		<a href="jynx"><img src="cats.jpg"></a>
	</body>
</html>