<!DOCTYPE html>
<html>
	<head>
		<title>Jynx</title>
	</head>
	<body>
		<h2>Here are all the **CAT** Data:</h2>

        <h3>Speed: <%= users.speed %></h3>
        <h4>MPG: <%= users.mpg %></h4>
        <h4>COST: <%= users.cost %></h4>

	</body>
</html>