<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Quotes</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1 class="text-center">Welcome to Quoting Dojo</h1>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row align-content-center">
				<div class="col ">
					<table class='text-center'>
						<tr>
							<td>Your Name:</td>
							<td><input type="text" name="name"></td>
						</tr>
						<tr>
							<td>Your Quote:</td>
							<td><input type="text" name="quote"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<form action="" method="">
					<button class="btn-primary">ADD MY QUOTE</button>
				</form>
				<form action="" method="">
					<button class="btn-danger">SKIP TO QUOTES</button>
				</form>
			</div>
		</div>

	</body>
</html>